.pizza-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pizza-btn {
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}
